.contact-form {
  label {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    clear: both;
    margin-top: 5px;
  }

  input,
  textarea {
    min-width: 500px;
  }

  button {
    margin: 20px 0;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .contact-form {
    input,
    textarea {
      min-width: 100%;
    }
  }
}
